@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

h1 {
    color: black;
    font-size: 40px;
    
}

body {
    color: black;
    font-size: 18px;
    font-family: "Roboto", serif;
    background-color: blanchedalmond;
    
}

.content {

    max-width: 100%;
    margin: auto;
    min-height: 100px;
    
}

.content > .furstlist > p {

    
    margin: 1px;
    
}

.porter {
    border-radius: 15px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 10);
}

.sod {
    background-image: url(fonS.jpg);
}
.sod a{
    
    color: black;
    text-decoration: none;
}

.sod a:hover {

    text-decoration: underline;
}

.sod a:active {

    color: blue;
}

.sod a:visited {

    color: purple;
}